@import '../../../../../styles/_main.scss';

.pageScroller {
  display: none;
  height: 50vh;
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translate(0, -50%);

  @include desktop {
    display: block;
  }
}

.wrapper {
  position: relative;
  height: 100%;
  width: 30px;
  border-top: 1px solid $color-flair-2;
  border-bottom: 1px solid $color-flair-2;

  .bar {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: $color-flair-2;
  }

  .progress {
    width: 3px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-1px, 0);
    background-color: $color-primary;
  }

  .indicator {
    width: 9px;
    height: 9px;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translate(-4px, -4px);
  }

}


.wrapperHorz {
  position: relative;
  height: 30px;
  width: 100%;
  border-left: 1px solid $color-flair-2;
  border-right: 1px solid $color-flair-2;

  .bar {
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: $color-flair-2;
  }

  .progress {
    height: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -1px);
    background-color: $color-primary;
  }

  .indicator {
    width: 9px;
    height: 9px;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    transform: translate(-4px, -4px);
  }
}