@import '../../../../styles/_main.scss';

.mobileWrapper {
  width: calc(100% - 80px);
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 0;

  @include desktop {
    display: none;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include desktop {
    width: calc(100% - 600px);
    max-width: 900px;
    margin: 0 auto;
  }
}

.overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;

  @include desktop {
    display: block;
  }

  .icons {
    position: absolute;
    top: 100px;
    right: 300px;
  }

  .numbers {
    position: absolute;
    bottom: 75px;
    left: 0px;
  }
}

.dateWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.date {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  box-sizing: border-box;
  line-height: 45px;
  height: 45px;
  background-color: $color-primary;
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: $font-primary-alt;
  font-weight: 700;
  transition: opacity 0.5s ease-out;

  span {
    position: absolute;
    height: 45px;
    width: 45px;
    background-color: black;
    right: -30px;
    top: -30px;
    transform: rotate(45deg);
  }

  &.past {
    opacity: 0;
  }
  &.future {
    opacity: 0;
  }
  &.active {
    opacity: 1;
  }
}

.content {
  height: 400px;
  width: 100%;
  position: relative;
  display: none;
  grid-template-columns: 4fr 6fr;
  column-gap: 100px;
  box-sizing: border-box;

  @include desktop {
    display: grid;
  }

  .progress {
    position: absolute;
    height: 30px;
    width: calc(60% - 60px);
    right: 0;
    bottom: 0;
  }

  .images {
    height: 100%;
    width: 100%;
    position: relative;

    .image {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;

      &.past {
        opacity: 0;
      }
      &.future {
        opacity: 0;
      }
      &.active {
        opacity: 1;
        transform: translate(0, 0%);
      }
    }
  }

  .titleAndDescription {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;

    .fader {
      position: absolute;
      top: 100%;
      left: 0%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 25%);
      z-index: 1;
      height: 100%;
      width: 100%;
    }

    .card {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: opacity 0.25s ease-out, transform 0.5s ease-out;
      display: grid;
      grid-template-rows: 80px 60px 235px 50px;

      .title {
        font-family: $font-secondary-alt;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
      }

      .desc {
        padding: 20px 0;
        height: 100%;
        box-sizing: border-box;
        font-family: $font-primary-alt;

        span {
          color: $color-primary;
        }
      }

      &.past {
        transform: translate(0, -100%);
        opacity: 0;
      }

      &.future {
        transform: translate(0, 200%);
        opacity: 0;
      }

      &.next {
        transform: translate(0, 90%);
        opacity: 0.25;
      }
    }
  }
}

.cardMobile {
  position: relative;
  height: auto;
  width: 100%;
  padding-bottom: 30px;

  .header {
    height: auto;
    width: 100%;
    margin-bottom: 40px;

    .imageWrapper {
      height: 300px;
      width: 100%;
      position: relative;

      .image {
        object-fit: contain;
        object-position: left;
        height: 100%;
        position: relative;
        width: 100%;
      }
    }
  }

  .text {
    .dateWrapper {
      height: 80px;
    }
    .title {
      font-family: $font-secondary-alt;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 24px;
    }

    .desc {
      height: 100%;
      box-sizing: border-box;
      font-family: $font-primary-alt;
      margin-bottom: 100px;
      font-size: 17x;

      span {
        color: $color-primary;
      }
    }
  }
}
