@import "../../styles/main";

%button {
    min-width: 230px;
    max-width: 230px;
    min-height: 59px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding-top: 6px;
    text-align: center;
    font-family: $font-primary-alt;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.primary {
    @extend %button;
    background-image: url('../../public/images/button-primary-background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    &:hover {
        background-image: url('../../public/images/button-primary-background-hover.svg');
        color: black;
    }
}

.disabled {
    @extend %button;
    background-image: url('../../public/images/button-disabled.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: $color-border;
}

.primaryLarge {
    @extend %button;
    min-width: 300px;
    max-width: 300px;
    background-image: url('../../public/images/button-primary-background-large.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    &:hover {
        background-image: url('../../public/images/button-secondary-background-large-hover.svg');
        color:white;
        filter: invert(1) sepia(86%) saturate(236%) hue-rotate(30deg) brightness(106%) contrast(103%);
    }
    
}

.secondary {
    @extend %button;
    background-image: url('../../public/images/button-secondary-background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    &:hover {
        background-image: url('../../public/images/button-secondary-background-hover.svg');
        color: white;
    }
}

.secondaryLarge {
    @extend %button;
    min-width: 300px;
    max-width: 300px;
    background-image: url('../../public/images/button-secondary-background-large.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    &:hover {
        background-image: url('../../public/images/button-secondary-background-large-hover.svg');
    }
}

.primaryHero{
  min-width: 150px;
  max-width: 150px;
  min-height: 42px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding-top: 6px;
  text-align: center;
  font-family: $font-primary-alt;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  @include phablet {
    font-size: unset;
    min-width: 230px;
    max-width: 230px;
    min-height: 59px;
  }
  // @include desktop {
  //   min-width: 230px;
  //   max-width: 230px;
  //   min-height: 59px;
  // }
  background-image: url('../../public/images/button-primary-background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  &:hover {
      background-image: url('../../public/images/button-primary-background-hover.svg');
      color: black;
  }
}

.secondaryHero {
  min-width: 150px;
  max-width: 150px;
  min-height: 42px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding-top: 6px;
  text-align: center;
  font-family: $font-primary-alt;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  @include phablet {
    font-size: unset;
    min-width: 230px;
    max-width: 230px;
    min-height: 59px;
  }
  @include desktop {
    min-width: 230px;
    max-width: 230px;
    min-height: 59px;
  }
  background-image: url('../../public/images/button-secondary-background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  &:hover {
      background-image: url('../../public/images/button-secondary-background-hover.svg');
      color: white;
  }
}