@import '../main';

.playerDropDown {
  list-style: none;
  padding: 10px 20px;
  transform: translate(0, -5px);
  li {
    span{ 
      padding: 0 8px;
    }
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    &:first-child {
      margin-bottom: 10px;
    }
    &:hover {
      color: $color-primary;
    }
  }
}

.dropArrow {
  transform: rotate(180deg);
  cursor: pointer;
}

.dropArrowOpen {
  transform: rotate(0deg);
  cursor: pointer;
}

.playerMobile {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 50px;
  .signoutMobile {
    margin-left: auto;
    font-size: 16px;
    color: #979797;
    font-family: $font-primary;
    text-transform: none;
    cursor: pointer;
  }
}

.displayNameMobile {
  font-size: 16px;
  color: $color-primary;
  font-family: $font-primary;
  text-transform: lowercase;
}

.navbar {
  display: flex;
  z-index: 100;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  @include tablet {
    margin: 0;
  }
  @include desktop {
    padding: 30px;
  }
  .logo {
    height: 30px;
  }
  .vl {
    height: 30px;
    border: solid 1px $color-grey;
  }
  div,
  nav {
    z-index: 9999999999;
  }
  .menuButton {
    display: none;
    min-width: 230px;
    max-width: 230px;
    min-height: 36px;
    @include desktop {
      display: inline-block;
    }
  }

  .socialLogoMobile {
    position: fixed;
    left: 0;
    bottom: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      margin: 0 10px;
    }
  }


  .socialLinks {
    display: none;
    padding: 0 30px 0 40px;
    position: relative;
    top: 4px;

    .socialLogo {
    }

    @include desktop {
      display: flex;
      align-items: flex-start;
      gap: 30px;
      list-style: none;
    }
    li {
      &:hover {
        filter: sepia(25%) saturate(10000%) hue-rotate(25deg);
      }
    }
  }
  li {
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
  .playerIconDesktop {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    position: relative;
    min-width: 200px;
  }
  .displayName {
    color: $color-primary;
    font-size: 16px;
    margin: 0;
  }
  .avatar {
    position: relative;
    overflow: hidden;
    // max-width: 35px;
    height: 35px;
    .avatarBorder {
      width: 100%;
      border: solid 2px $color-primary;
      max-width: 35px;
      height: 35px;
      // @include desktop {
      //     max-width: 200px;
      //     height: 210px;
      // }
      // @include desktop-xl {
      //     display: flex;
      // }
    }
    span {
      min-height: 100% !important;
    }
    img {
      object-fit: cover;
    }
    &:before {
      content: '';
      position: absolute;
      background: black;
      border-right: solid 2px $color-primary;
      transform: rotate(-225deg);
      top: -60px;
      right: -40px;
      width: 50px;
      height: 100px;
      z-index: 1;
    }
  }
  .navLinks {
    display: none;
    @include desktop {
      display: flex;
      align-items: flex-start;
      gap: 50px;
      list-style: none;
    }
    @include desktop-xl {
      gap: 70px;
    }
  }
  .navItems {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    @include desktop-xl {
      gap: 50px;
    }
  }
  .navRight {
    display: flex;
    align-items: center;
    button {
      font-size: 15px;
    }
  }
  .menuOpen {
    display: inline-block;
    cursor: pointer;
    @include desktop {
      display: none;
    }
  }
  .menuClose {
    cursor: pointer;
  }
  .mobileNav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    height: 100vh;
    width: 100%;
    padding: 40px 30px;
  }
  .menuPlus {
    position: absolute;
    right: 30px;
    top: 120px;
    z-index: -1;
  }
  .menuDots {
    text-align: center;
  }
  .mobileNavTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .mobileNavLinks {
    list-style: none;
    font-size: 24px;
    font-family: $font-secondary;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    li {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .loginButton {
    display: none;
    width: 200px;
    height: 36px;
    background-image: url('/images/buttons/login.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    @include desktop {
      display: block;
    }
    &:hover {
      background-image: url('/images/buttons/login-hover.svg');
    }
  }
  .mintButton {
    display: none;
    width: 160px;
    height: 36px;
    margin-left: 15px;
    background-image: url('/images/buttons/mint.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    @include desktop {
      display: block;
    }
    &:hover {
      background-image: url('/images/buttons/mint-hover.svg');
    }
  }
  .logo {
    display: none;
    @include desktop {
      display: block;
    }
  }
  .logoMobile {
    width: 135px;
    display: block;
    @include desktop {
      display: none;
    }
  }
}

%button {
  min-width: 230px;
  max-width: 230px;
  min-height: 59px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding-top: 6px;
  text-align: center;
  font-family: $font-primary-alt;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.primaryLarge {
  @extend %button;
  min-width: 300px;
  max-width: 300px;
  background-image: url('../../public/images/button-primary-background-large.svg');
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  &:hover {
    background-image: url('../../public/images/button-secondary-background-large-hover.svg');
    color: white;
    filter: invert(1) sepia(86%) saturate(236%) hue-rotate(30deg)
      brightness(106%) contrast(103%);
  }
}

.secondaryLarge {
  @extend %button;
  min-width: 300px;
  max-width: 300px;
  background-image: url('../../public/images/button-secondary-background-large.svg');
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  &:hover {
    background-image: url('../../public/images/button-secondary-background-large-hover.svg');
  }
}
.popup {
    background-color: black;
}

.navRightButtonsWrapper {
  display: flex;
  align-items: center;
}