@import '../../../../styles/_main.scss';

.logo {
  display: none;
  width: 100%;
  object-fit: contain;
  @include tablet {
    display: block;
  }
}

.logoMobile {
  width: calc(100vw - 150px);
  max-width: 300px;
  object-fit: contain;
  @include tablet {
    display: none;
  }
}

.desc {
  width: calc(100vw - 100px);

  @include desktop {
    width: calc(100vw - 500px);
  }
}

.descLogo {
  display: none;
  width: 70%;
  margin: 0 auto;
  @include tablet {
    display: block;
  }
}

.descLogoMobile {
  width: 100%;
  padding-bottom: 30px;
  @include tablet {
    display: none;
  }
}

.buttonContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  @include tablet {
    grid-template-columns: auto auto;
    column-gap: 50px;
    margin-top: 45px;
  }
}

.buttonWrapper {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 25px;

  @include tablet {
    grid-template-columns: auto auto;
    column-gap: 50px;
  }
}
